<div class="col-md-8 p-0 m-0">
    <div class="col-md-12 my-2">
        <div class="col-md-12 py-3 bg-warning text-dark text-uppercase font-weight-bold">
            Painel de controle - histórico de doações
        </div>
        <div style="background-color: rgba(0,0,0,0.5);" class="text-light py-4 px-5">
            <% if (typeof data !== 'undefined') { %>
                <table class="table table-dark w-100">
                    <thead>
                        <tr>
                            <th>Pacote</th>
                            <th>Valor</th>
                            <th>Donate</th>
                            <th>Bônus</th>
                            <th>Total Donate</th>
                            <th>Método</th>
                            <th>Data</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (let i = 0; i < data.rows.length; i++) { %>
                            <tr>
                                <td><%= data.rows[i].donate_package.name %></td>
                                <td><%= new Intl.NumberFormat('pt-BR', { style: 'currency', currency: 'BRL' }).format(data.rows[i].donate_package.value) %></td>
                                <td><%= data.rows[i].donate_package.donate %></td>
                                <td><%= data.rows[i].donate_package.percent %>%</td>
                                <td><%= (data.rows[i].donate_package.donate + (data.rows[i].donate_package.donate * data.rows[i].donate_package.percent)) %></td>
                                <td><%= dump(data.rows[i]) %></td>
                                <td class="time-ago"><%= data.rows[i].createdAt %></td>
                                <td>
                                    <% if (data.rows[i].status !== 1) { %>
                                        <a class="btn btn-primary" href="/painel-de-controle/finalizar-doacao/<%= data.rows[i].id %>">
                                            Finaliza doação
                                        </a>
                                    <% } else { %>
                                        <span class="bg-success">
                                            Pago
                                        </span>
                                    <% } %>
                                </td>

                            </tr>
                        <% } %>
                    </tbody>
                </table>
                <%- include('../../partials/pagination.ejs') %>
            <% } else { %>
                Não há doações!
            <% } %>
        </div>
    </div>
</div>