<div class="col-md-12 grid-margin stretch-card donate-items">
    <div class="card">
        <div class="card-body">
            <div class="d-flex flex-row justify-content-between border-bottom">
                Atualizar bonificação
            </div>
            <div class="d-flex flex-row row px-4 justify-content-center my-2 py-4 text-center list-donate-items">
                <div class="row">
                    <form method="POST" action="/update-donate-items">
                        <div class="form-group mb-3">
                            <input class="form-control" type="hidden" name="id" value="<%= data.id %>">
                            <label for="name">Pacote de donate:</label>
                            <select class="form-control" name="id_package">
                                <% packages.forEach((value, index) => { %>
                                    <option value="<%= value.id %>"><%= value.name %></option>
                                <% }) %>
                            </select>
                        </div>
                        <div class="form-group mb-3">
                            <label for="name">Nome do item:</label>
                            <input id="name" class="form-control" name="itemname" value="<%= data.itemname %>">
                        </div>
                        <div class="form-group mb-3">
                            <label for="value">Item index:</label>
                            <input id="value" class="form-control" type="number" name="item_id" value="<%= data.item_id %>">
                        </div>
                        <div class="form-group mb-3">
                            <label for="value">Efeito 01:</label>
                            <input id="value" class="form-control" type="number" name="eff1" value="<%= data.eff1 %>">
                        </div>
                        <div class="form-group mb-3">
                            <label for="value">Valor de efeito 01:</label>
                            <input id="value" class="form-control" type="number" name="effv1" value="<%= data.effv1 %>">
                        </div>
                        <div class="form-group mb-3">
                            <label for="value">Efeito 02:</label>
                            <input id="value" class="form-control" type="number" name="eff2" value="<%= data.eff2 %>">
                        </div>
                        <div class="form-group mb-3">
                            <label for="value">Valor de efeito 02:</label>
                            <input id="value" class="form-control" type="number" name="effv2" value="<%= data.effv2 %>">
                        </div>
                        <div class="form-group mb-3">
                            <label for="value">Efeito 03:</label>
                            <input id="value" class="form-control" type="number" name="eff3" value="<%= data.eff3 %>">
                        </div>
                        <div class="form-group mb-3">
                            <label for="value">Valor de efeito 03:</label>
                            <input id="value" class="form-control" type="number" name="effv3" value="<%= data.effv3 %>">
                        </div>
                        <input type="hidden" class="g-recaptcha-response" name="g-recaptcha-response">
                        <input type="hidden" name="action" value="validate_captcha">
                        <div class="form-group mb-3">
                            <button type="submit" class="btn btn-primary">
                                Alterar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>